.fa-ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.fa-li {
  position: relative;
  left: -2em;
  width: 2em;
  text-align: center;
  color: #007bff;
}

.fa-li .fa {
  font-size: 1.5em;
  line-height: 1.5;
}

span.a {
  position: absolute;
  top: 10px;
  left: 34.7cm;
}

h6 {
  float: right;
  top: -95;
}

form.a {
  text-align: center;
  font-family: var(--lg-font);


}

.form-group label {
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Poppins:ital,wght@0,400;1,500&display=swap');

:root {
  --lg-font: 'Kaisei Decol', serif;
  --sm-font: 'Poppins', sans-serif;
  --pink: #e5345b;
  --dd-font: 'times new roman'
}

body {

  font-family: var(--sm-font);
}

/* button*/
.bg-primary {
  background-color: var(--pink) !important;
}

.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media(max-width:767px) {
  .card {
    margin: 3vh auto;
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media(max-width:767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media(max-width:767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.btn:hover {
  color: rgb(8, 8, 8);
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}
