.fa-ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
  color: #a7a7a7;

}

.footer1 {
  background-color: #282727;

}

.footer1 i {
  font-size: 2em;
  color: #ffffff;
  margin-right: 10px;
}

.fa-li {
  position: relative;
  left: -2em;
  width: 2em;
  text-align: center;
  color: #f1f3f6;
}

.fa-li .fa {
  font-size: 1.5em;
  line-height: 1.5;
}

span.a {
  position: absolute;
  top: 10px;
  left: 34.7cm;
}

h2 {
  line-height: 2cm;
}

h6 {
  float: right;
  top: -95;
}

form.a {
  text-align: center;
  font-family: var(--lg-font);
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 40px;
  border: 2px solid #e3e0e0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.quantity input {
  width: 60px;
  height: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #ffffff;
}

.quantity button {
  width: 40px;
  height: 100%;
  border: none;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.quantity button:hover {
  background-color: #ffffff;
}

.minus-btn {
  border-right: 1px solid #ffffff;
}

.plus-btn {
  border-left: 1px solid #ffffff;
}

.box {
  display: flex;
  margin: -40px 10px 10px 15cm;
}

p.w {
  margin-top: 0.3cm;
  font-family: 'Times New Roman', Times, serif;
  color: #a7a7a7;

}

.form-group label {
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Poppins:ital,wght@0,400;1,500&display=swap');

:root {
  --lg-font: 'Kaisei Decol', serif;
  --sm-font: 'Poppins', sans-serif;
  --pink: #e5345b;
  --dd-font: 'times new roman'
}

body {

  font-family: var(--sm-font);
}

/* button*/
.bg-primary {
  background-color: var(--pink) !important;
}

.navbar-nav li a {
  color: #fff !important;
  font-family: var(--lg-font);
}
