p.a {
    font-size: 20px;
    margin-bottom: 20px;
    columns: 3 25ch;
    column-gap: 40px;
    hyphens: auto;
}

p.e {
    font-size: large;
}

p.f {
    font-size: large;
    font-size: large;
    column-gap: 40px;
    hyphens: auto;
    columns: 3 25ch;
}