body {
    border-style: solid;

    border-radius: 15px;
}

p.a {
    text-align: center;
    font-size: large;
}

p.b {
    text-align: left;
}

button {

    color: whitesmoke;
    background-color: red;
    text-align: center;
    display: block;
    margin: 0 auto;
}